.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding: 30px;
}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.teams-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .teams-list-container {
    width: 70%;
    max-width: 1140px;
  }
}

.dashboard-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 33px;
  height: 50px;
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 90px;
  }
}

.heading {
  font-family: Bree serif;
  font-size: 30px;
  color: #ffff;
  letter-spacing: 2px;
  font-size: 23px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 50px;
  }
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teams-list {
  display: flex;
  padding-left: 0px;
  flex-wrap: wrap;
}
